@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-hot-pink: #FF007F;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-rose-gold: #B76E79;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}